


  *::-webkit-scrollbar {
    width: 1px;
    display: none;
  }
  
  *::-webkit-scrollbar-track {
    display: 'none';
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #353333;
    border-radius: 10px;
    border: none;
  }

  input[type='file'] {
    visibility: hidden ;
  }

#file-form {
  display: inline-block;
  border: dashed 1px white;
  color : white;
  font-size: 12px;
  width: 100%;
  padding: 2% 48% 2% 48%;
  border-radius: 10px;
  cursor : pointer;
}